body {
  font-size: 14px;
  line-height: 2;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
}


h1 {
  font-size: 30px;
  line-height: 1,5;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
}

.main-header {
  margin-bottom: 60px;
  min-height: 70px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-shop {
  float: left;
  min-height: 70px;
  width: 810px;
}

.user-block {
  float: right;
  min-height: 70px;
  width: 250px;
}

.main-navigation-shop li {
  display: inline-block;
}

.breadcrumbs {
  display: block;
}

form {
  float: left;
  width: 230px;
  height: 575px;
}

.products {
  display: inline-block;
  width: 220px;
  margin-left: 80px;
  margin-bottom: 76px;
}

.paginator {
  margin-left: 650px;
}

.main-footer {
  margin-top: 65px;
}

.footer-contacts {
  float: left;
  width: 320px;
}

.footer-social {
  float: left;
  width: 160px;
  margin-left: 80px;
}

.footer-copyright {
  float: right;
  width: 150px;
  margin-right: 130px;
}

.item img {
  display: inline-block;
  width: 140px;
  height: 140px;
  vertical-align: bottom;
  margin-right: 20px;
}

.presence {
  display: inline-block;
  width: 100px;
  
}

.article {
  display: inline-block;
  width: 140px;
 
}

.description {
  display: inline-block;
  width: 390px;
 
}

.price {
  display: inline-block;
 
}

.btn {
  display: inline-block;
  width: 80px;
  
}

.set {
  display: inline-block;
  width: 260px;
}